html {
	scroll-behavior: smooth;
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.eot');
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
       url('../fonts/Montserrat-Black.ttf') format('truetype'),
       url('../fonts/Montserrat-Black.woff') format('woff'),
       url('../fonts/Montserrat-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather-Italic';
  src: url('../fonts/Merriweather-Italic.eot');
  src: url('../fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Merriweather-Italic.svg#Merriweather-Italic') format('svg'),
       url('../fonts/Merriweather-Italic.ttf') format('truetype'),
       url('../fonts/Merriweather-Italic.woff') format('woff'),
       url('../fonts/Merriweather-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../Montserrat-SemiBold.eot');
  src: url('../Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../Montserrat-SemiBold.ttf') format('truetype'),
       url('../Montserrat-SemiBold.woff') format('woff'),
       url('../Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../fonts/Montserrat-Italic.eot');
  src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg'),
       url('../fonts/Montserrat-Italic.ttf') format('truetype'),
       url('../fonts/Montserrat-Italic.woff') format('woff'),
       url('../fonts/Montserrat-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('../fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('../fonts/Montserrat-BoldItalic.eot');
  src: url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg'),
       url('../fonts/Montserrat-BoldItalic.ttf') format('truetype'),
       url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
       url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
   }
   @font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
       url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
       url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  @font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('../fonts/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {

	color: #ffffff;
	margin:0px;
	padding: 0px;
	font-size: 0.73vw;
	font-family: 'Montserrat-Black','Montserrat-Bold', 'Montserrat-Regular','Montserrat-ExtraBold', 'Montserrat-BoldItalic', 'Montserrat-Light';
}
input::-moz-placeholder { color:#bfbfbf ; font-size: 0.75vw; }
input::-webkit-input-placeholder { color: #bfbfbf;  font-size: 0.75vw; }

h2, h1, section, div, ul, li, p, a, nav, button {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
button:active {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3) inset; 
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
section {
	position: relative;
}
* {
	-moz-transition: all 0.2s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	-webkit-font-smoothing: subpixel-antialiased;
}
header {
	 background-image: linear-gradient(to right, #1f1f28 70%, #1a1a1e);
	margin-bottom: 6.4vw; 
	padding-bottom: 3vw;
}
button {
	cursor: pointer;
}
.conteiner {
	width: 91vw;
	margin: 0px auto;
}
.conteiner2 {
	width: 60.4vw;
	margin: 0px auto;
}
.menu {
	padding-top: 2vw;
}
.menu__logo {
	float: left;
}
.menu__logo__item {
	float: left;
}
.logo__big {
	font-family: 'Montserrat-BoldItalic';
	font-size: 1.3vw;
	color: #fff;
	margin-right: 1.14vw;
	float: left;
}
.logo__full {
	font-family: 'Montserrat-Regular';
	color: #ffffff;
	letter-spacing: 0.1em;
	float: left;
	display: inline;
	margin-top: 0.3vw;
	font-size: 0.677vw;
}
nav {
	float: left;
	margin-top: 0.66vw;
	margin-left: 27.8vw;
}
ul {
	list-style-type: none;
}
 a {
 	text-decoration: none;
 }
.menu__item {
float: left;
margin-left: 2.3vw;
font-family: 'Montserrat-Light' ;
letter-spacing : 0.07vw;
font-size: 0.625vw;
}
.menu__item__link {
	color: #fff;
}
.menu__item:nth-child(1){
	margin-left: 0px;
}
.menu__item__link:hover {
color: #22dae5; 
transition: all 0.15s;
}
.contact {
	float: right;
	margin-top: 0.51vw;
	color: #ffffff;
	font-family:  'Montserrat-Regular';
}
.contact__number {
	float: left;
	display: inline;
	margin-right: 1.1vw;
	letter-spacing: 0.05rem;
	font-size: 0.625vw;
	color: #fff;
	letter-spacing: 1.5px;
}
.contact__imgblock {
	float: left;
	margin-bottom: -0.1vw;
	width: 1.458vw;
	height: 1.458vw;
	 margin-top: -0.45vw;
	position: relative;
		border-radius: 50%;
}
.contact__img {
	width: 0.72vw;
	height: 0.72vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.36vw;
	margin-top: -0.36vw;
	}
.menu {
	margin-bottom: 2.2vw;
	position: relative;
	z-index: 10;
}
.head {
	background: #17171f;
}
.head__main {
	margin-left: 5.2vw;
	width: 39.4vw;
	float: left;
	padding-top: 13.3vw;
}
h2 {
	color: #fff;
	font-size: 3.02vw;
	letter-spacing: 0.2rem;
	margin-bottom: 1.5vw;
}
h1 {
	font-family: 'Montserrat-Bold';
	text-transform: uppercase;
	font-size: 2.3vw;
	letter-spacing: 0.34vw;
	color: #fff;
	margin-bottom: 2.2vw;
	line-height: 3vw;
}
.mobileh1{
	display: none;
}
.main__list {
	list-style-type: none;
	margin-bottom: 3.26vw;
}
.main__list__item {
float: left;
margin-right: 1.14vw;
font-family: 'Montserrat-Regular' ;
letter-spacing: 0.07vw;
width: 7.7vw;
text-align: center;
border: 1px solid  #30e9a1;
border-radius: 16px; 
}
.list__item__block {
	color: #ffffff;
	color: #30e9a1;
	font-size: 0.5vw;
	line-height: 1.4vw;
}
.head__detail {
	display: block;
	font-family: 'Montserrat-Black';
	font-size: 0.625vw;
	background: #e930a1;
	color: #fff;
	width: 9.68vw;
	letter-spacing: 0.1vw;
	text-align: center;
	border: 1px solid #e930a1 ;
	border-radius: 25px; 
	line-height: 3vw;
	box-shadow: 0 0 2vw rgba(233,48,161,0.2);
}
.head__detail:hover {
	box-shadow: 0 0 3vw rgba(233,48,161,0.3);
	transition: all 0.15s;
}
.head__picture{
	background: #1b1b22;
	position: relative;
	float: left;
	width: 45.8vw;
	height: 44.3vw;
}
.picture__men {
	position: absolute;
	height: 36.9vw;
	width: 41vw;
	bottom: 0px;
	right: 2.5vw;
	z-index: 5;
}
.picture__circle1{
	display:  none;
}
.picture__corn {
	position: absolute;
	    bottom: -4px;
   	    right: -12px;
   	    z-index: 56;
   	    width: 15.8vw;
   	    height: 16.2vw;
}
.picture__circle {
	    height: 56vw;
    width: 61.98vw;
    position: absolute;
    right: -4vw;
    bottom: -3vw;
    z-index: 4;
}
.picture__note {
	width: 2.03vw;
	height: 3.4375vw;
	position: absolute;
	left: 9vw;
    top: 9vw;
}
.picture__round {
	position: absolute;
    width: 12.5vw;
    height: 12.5vw;
    top: 10.7vw;
    left: -4.5vw;
    z-index: 6;
}
.picture__note1{
	display: none;
}
.picture__line {
	position: absolute;
	z-index: 6;
	height: 11.4vw;
    width: 11.4vw;
    bottom: 3.5vw;
    left: -3.5vw;
}
.picture__triple {
	position: absolute;
	z-index: 6;
    height: 9.63vw;
    width: 9.63vw;
    top: 8.2vw;
    right: 3.3vw;
}








#audio {
	margin-bottom: 6.77vw;
}
.audio__head__imgg{
	display: none;
}
.audio__head__img0{
	position: absolute;
	left: 2vw;
	top: 19.5vw;
	width: 9vw;
	height: 9vw;
}
.audio__head__img01{
	display: none;
}
.audio__head__img1 {
	width: 1.25vw;
	height: 0.83vw;
	position: absolute;
	left: 30.5vw;
    top: -0.9vw;
}
.audio__head__img2 {
	width: 0.67vw;
	height: 1vw;
	position: absolute;
	right: 30.5vw;
    top: 1.7vw;
}
.audio__head {
	font-size: 1.5625vw;
	font-family: 'Montserrat-ExtraBold';
	margin: 0px auto;
	letter-spacing: 0.1vw;
	color: #161514;
	text-align: center;
}
.audio__head1 {
	display: none;
}
.audio__list {
	margin: 0px auto;
	margin-top: 5.468vw;
	margin-bottom: 4.16vw;
}
.audio__item {
	position: relative;
	float: left;
	margin-right: 1.823vw;
	height: 16.8vw;
	width: 13.33vw;
	border-radius: 5px;
	box-shadow: 0 0.5vw 2vw rgba(0,0,0,0.05)
}
.audio__item:nth-child(4) {
	margin: 0px;
}
.audio__img {
	width: 13.33vw;
	height: 10.15vw;
	margin-bottom: 1.1vw;
}
/*.audio__file {
	width: 13.33vw;
	height: 2.6vw;
	margin-bottom: 1.1vw;

}*/
.songname {
	font-family: 'MyriadPro-Regular';
	color: #b2b2b2;
    margin-left: 2.9vw;
    position: relative;
    z-index: 15;
}
.songname__LV {
	color: black;
}







.style-audiojs {
	position: relative;
	 padding-left: 1vw;
	width: 13.33vw;
	height: 1.8vw;
	background: #fff;
	box-shadow: none;
	margin-top: -0.23vw;
	z-index: 10;

}


.style-play{
	height: 2vw;
    width: 2vw;
	cursor: pointer;
	background-color: #fff;
	border: none;
	position: absolute;
    top: -0.5vw;
    left: 0.5vw;
}
.style-play:active {
	box-shadow: none;
}
.style-seek-bar{
	display: flex;
		height: 2px;
	width: 5.2vw;
	position: absolute;
	left: 20%;
	bottom: 1%;
	border: none;
	overflow: visible;
	background-color: #d0d0d0;
	cursor: pointer;
	    position: absolute;
    top: 1.1vw;
    left: 5vw
}
.style-fill {
		height: 2px;
	width: 0.1vw;
	background-color: #000;
}
.style-handle {
		height: 6px;
	width: 6px;
	background-color: #000;
	border-radius: 50%; 
	    margin: -0.18vw 0px 0px -0.2vw;
}
.style-currentTime {
	font-size: 0.625vw;
	font-family: 'MyriadPro-Regular';
	height: auto;
	line-height: 10px;
	padding: 0px; 
	color: #929191;
	text-shadow: none;
	position: absolute;
	    top: 0.9vw;
    left: 2.9vw;
}
.style-Totaltime{
	color: #929191;
	font-size: 0.6255vw;
	font-family: 'MyriadPro-Regular';
	height: auto;
	line-height: 10px;
	position: absolute;
	top: 0vw;
	left: 7.5vw;
	    top: 0.86vw;
    left: 10.7vw;
}
.audio__list__keis{
	display: block;
	background:  #673ad9;
	width: 3.64vw;
	height: 1.1vw;
	color: #fff;
	cursor: pointer;
	font-size: 0.63vw;
	border: none;
	font-family: 'Montserrat-SemiBold';
	border-radius: 50px;
	margin: 1.08vw 0px 0px 0.93vw;
}
.audio__list__blue {
    position: absolute;
    bottom: 0.8vw;
    right: 0.9vw;
}
.audio__links {
	width: 5.7vw;
	margin: 0px auto;
}


.audio__links__head {
	font-family: 'Montserrat-Medium';
	font-size: 0.57vw;
	color: #969696;
	margin-bottom: 1vw;
	border-radius: 50px;
	background: #fffdfe;
}
.audio__links__item {
	float: left;
	 border-radius: 50%;
	 width: 0.5vw;
	 height: 0.5vw;
	 margin-right: 1.6vw;
	   box-shadow: 0.3vw 0px 1.5vw rgba(237,48,161,0.25);
}
.audio__links__item:nth-child(3) {
	margin-right: 0px;
}
.audio__links__item:nth-child(2) {
 box-shadow: 0.3vw 0px 2vw rgba(237,48,161,0.25);
 margin-right: 1.3vw;
}
.img1{
	width: 1.04vw;
	height: 0.573vw;
	    margin-top: 0.13vw; 
	        margin-left: 0.2vw;  
}
.img2{
	width: 1.04vw;
	height: 0.729vw;
}
.img3{
	background: #fff;
	height: 0.573vw;
	width: 1.4vw;
	    margin-top: 0.05vw;
}
.kpopup__content {
	position: relative;
	width: 38.23vw;
	height: 27.55vw;
	margin: 0px auto;
	    margin-top: 10%;
	background: #fbfbfb ;
	border-radius: 4px;
	color: #000;
}
.close {
	position: absolute;
	height: 0.8vw;
    width: 0.8vw;
    top: -1.5vw;
    right: -1.5vw;
    cursor: pointer
}
.kpopup__content__left {
	padding: 3.6vw 0px 0vw 2.5vw;
	float: left;
	    letter-spacing: 0.05vw;
}
.kpopup__content__head {
	font-size: 0.937vw;
	margin-bottom: 1.46vw;
	font-family: 'Montserrat-Bold';
}
.kpopup__content__info{
	font-family: 'Montserrat-Regular';
	margin-bottom: 1.25vw;
}
.kpopup__content__info span {
	font-family: 'Montserrat-Bold';
}
.kpopup__content__left button{
	width: 10.31vw;
	margin-top: 0.3vw;
	margin-left: 0px;
}
.bigplay-img{
	width: 9.47vw;
	height: 9.47vw;
}
.kpopup__content__img1 {
	float: right;
	height: 27.55vw;
	width:19.166vw;
}
.kpopup__content__img2{
	position: absolute;
	width: 9.47vw;
	z-index: 5;
	height: 9.47vw;
     top: 9.5vw;
    right: 4.7vw;
	cursor: pointer;
}
.popeff  {
	position: absolute;
	    top: 14.2vw!important;
    left: 28.8vw!important;
    z-index: 3;
}
.price{
	    float: left;
    display: inline;
    margin-right: 1.5vw;
    margin-bottom: 2vw;
}
 #work{
	background: url(../workimg/background.png) no-repeat center ;
	background-size: cover;	
}
.process__img {
	position: absolute;
	width: 3.5vw;
	height: 2.29vw;
	right: 6vw;
}
.work__body {
	padding-top: 4.16vw;
	color: black;
	font-family: 'Montserrat-ExtraBold';
	position: relative;
}
.work__body__nota {
	position: absolute;
	width: 0.52vw;
	height: 0.885vw;
	left: -0.88vw;
	top: 5vw;
}
.work__body__round{
	width: 0.573vw;
	height: 0.573vw;
	position: absolute;
	top: 23.8vw;
	left: 5vw;
}
.work__body__tworounds{
	width: 2.916vw;
	height: 2.135vw;
	position: absolute;
	     bottom: -5vw;
    left: 5.9vw;
}
.work__item {
	padding: 1.25vw;
	background: #fff;
	float: left;
	height: 8.85vw;
	width: 18.33vw;
	margin: 0px  1.562vw 1.66vw 0px;
	box-shadow: 0 0 2.5vw rgba(0,0,0,0.05);
	position: relative;
	border-radius: 5px;
	color: #000;
}
.work__item__head {
	font-size: 1.5625vw;
	letter-spacing: 0.15vw;
	color: #fff;
	margin-top: 2vw;
}
.work__item:nth-child(1) {
	background: none;
	box-shadow:none;
	padding: 0px;
}
.work__item__text__head {
	line-height: 1.3vw;
	font-size: 0.9375vw;
	margin-bottom: 0.5vw;
}
.work__item__text__description {
	color: #161514;
	font-family: 'Montserrat-Regular';
}
.work__item__text__number {
	font-size: 2.55vw;
	font-family: 'Montserrat-ExtraBold';
	color: #f6f6f6;
	position: absolute;
	bottom: 0.65vw;
	right: 1.25vw;
}
.work__item:nth-child(6) {
	background: none;
	box-shadow: none !important;
}
.line:after {
	content: '';
	display: block;
	position: absolute;
	width: 2.08vw;
	height: 0.26vw;
	background: #fb5252;
	right: -2.08vw;
    top: 1.5625vw;
    z-index: 2;
}
.work__item__text__a {
		display: block;
	font-family: 'Montserrat-SemiBold';
	line-height: 1.51vw;
	font-size: 0.63vw;
	width: 3.54vw;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background: #4eb25e;
	margin-bottom: 1.04vw;
}
.work__item__text__button {
	font-family: 'Merriweather-Italic';
	color: #fff;
	    line-height: 1.1vw;
    letter-spacing: 0.1vw;
}
.popup {
	width: 100%;
	height: 100%;
	 position: fixed;
    display: none;
    overflow: auto;
    margin: 0px auto;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
}
.popup .content__form__img2 {
	display: none;
}
.popup-content {
	position: relative;
	width: 22.34vw;
	height: 23vw;
	margin: 0px auto;
	    margin-top: 10%;
	background: #fdfdfd ;
	padding: 1.98vw 2.55vw 0vw 2.55vw;
	border-radius: 3px;
}
.popup-box-head{
	font-size: 0.93vw;
	text-align: center;
	font-family: 'Montserrat-Bold';
	color: #000;
    padding-bottom:  1.1vw;
}
.popupar {
	right: 5.4vw !important;
    top: 1.19vw !important;
}
.popup-box-text{
	font-family: 'Montserrat-Regular';
	text-align: center;
	margin-bottom: 1.9vw;
	}
.popup input {
	width: 15.7vw;
	margin: 0px 0px  1.97vw 0.9vw;
}
.picture__line2 {
	position: absolute;
	height: 11.4vw;
    width: 11.4vw;
    right: -15.4vw;
}
.benefit {
	padding-top: 3.6vw;
	position: relative;
}
.benefit__list {
	    margin-left: 2.8vw;
	    padding-bottom: 4.166vw;
}
.benefit__head {
	font-family: 'Montserrat-ExtraBold';
	font-size: 1.6vw;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4.94vw;
		margin-top: 0vw;
		letter-spacing: 0.4vw;
		    line-height: 3vw
}
.benefit__img {
	display: none;
}
.benefit__head1{
	display: none;
}
.benefit__item {
	float: left;
	margin-right: 7.86vw;
}
.benefit__item__circle {
	margin: 0px auto;
	border-radius: 50% ;
	border: 1px solid #ececec;
	width: 6.5624vw;
	height: 6.5624vw;
	margin-bottom: 2.24vw;
	position: relative;
}
.benefit__item__condition {
	text-align: center;
	margin-bottom: 2.13vw;
	font-size: 0.9375vw;
	font-family: 'Montserrat-Bold';
	letter-spacing: 0.14vw;
}
.item__condition__img{
	width: 1.78vw;
	height: 1.78vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.89vw;
	margin-left: -0.89vw;
}
.benefit__item__text {
	font-family: 'Montserrat-Regular';
	text-align: center;
}
.benefit__item:nth-child(3) {
	margin-right: 0px;
}
#process {
	margin: 5.88vw 0px 5.88vw 0px;
}
.process__content {
	position: relative;
}
.process__content__button  {
	float: left;
}
.content__button__back {
	margin-top: 10vw;
	width: 35.62vw;
	height: 19.9vw;
	  margin-left: -2.9vw;
}
.content__button__back1{
	display: none;
}
.circleback1:after {
	    content: '';
	    opacity: 0.6;
    position: absolute;
    border: 1px solid #f0f0f0;
    display: table;
    clear: both;
    width: 28.5vw;
    height: 28.5vw;
    border-radius: 50%;
    top: 5.5vw;
    left: 1.05vw;
    z-index: -2;
}
.circleback2:before {
	content: '';
	position: absolute;
	border: 1px solid #f0f0f0;
	display: table;
	opacity: 0.6;
	clear: both;
	width: 20.5vw;
	height: 20.5vw;
	border-radius: 50%;
	    top: 9.75vw;
    left: 5vw;
	z-index: -1;
}
.content__button__button{
	position: absolute;
	width: 9.47vw;
	height: 9.47vw;
	    top: 15.6vw;
    left: 10.5vw;
    z-index: 5;
    cursor: pointer;
  } 
  .content__button__button__img{
	width: 9.47vw;
	height: 9.47vw;
  }
   @use postcss-nested;
	@keyframes animate-circle {
    from {
        transform: scale(0);
        opacity: 0.2;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}
.loader {
	position: absolute;
    --size: 12vw;
        top: 20.3vw;
    left: 15.2vw;
    height: var(--size);
    width: var(--size);
    transform: translateX(-50%) 
    translateY(-50%);
}
 
   .circle {
        --duration: 3s;
        position: absolute;
        height: inherit;
        width: inherit;
        border: 0.9vw solid #aaaca9;
        border-radius: 50%;
        animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
        }
      .circle:nth-of-type(1) {
            animation-delay: 0;
        }
        .circle:nth-of-type(2) {
            animation-delay: calc(var(--duration) / -5);
            border: 3px solid #aaaca9;
        }
        .circle:nth-of-type(3) {
            animation-delay: calc(var(--duration) / -6);
        }
.youtubevideo{
	    width: 39.1vw;
    height: 24.4vw;
	display: block;
    margin: 0px auto;
    margin-top: 10%;
}
.videopop{
	background: rgba(0,0,0,0);
	height: auto;
	width: auto;
	 width: 39.1vw;
    height: 24.4vw;;
    padding: 0px;
}      
.content__button__arrow {
	position: absolute;
	    opacity: 0.4;
	top: 20vw;
    left: 32.34vw;
	width: 1.5625vw;
	height: 0.9375vw;
}
.content__button__text {
	font-family: 'Montserrat-Italic';
	color: #9c9c9c;
	font-size: 0.625vw;	
    left: 12.2vw;
    position: absolute;
    bottom: 6.5vw;
}
.process__content__form{
  float: right;
  box-shadow: 0 0vw 2.2vw rgba(0,0,0,0.08);
  margin-top: 4.8vw;
  border-radius: 7px;
  position: relative;
 background: #fbfbfb;
}
.content__form__img1 {
	width: 5.83vw;
	height: 5.83vw;
	position: absolute;
	left: -1.25vw;
    top: -1.2vw;
}
.content__form__img2 {
	position: absolute;
	right:-1.1vw;
	bottom: -1.1vw;
	width: 5.83vw;
	height: 5.83vw;
}

.process__content__form {
	background: #fdfdfd;
    height: 31vw;
  width: 22.34vw;
  margin: 0px auto;
  margin-top: 4.6vw;
  color: #161514;
}
.form__body__head {
	font-size: 0.9375vw;
  text-align: center;
  margin: 0px auto;
  font-family: 'Montserrat-Bold';
  margin-bottom: 1.25vw;
  margin-top: 2.36vw;
}
.form__body__underhead {
	font-family: 'Montserrat-Regular';
	text-align: center;
	margin-bottom: 1.875vw;
}
input {
 	 width: 17.5vw;
  padding-bottom: 1vw;
  background: #fdfdfd;
  display: block;
  margin: 0px  2.5vw 2.24vw 2.5vw;
  border: none;
  border-bottom: 1px solid #bfbfbf; 
   font-size: 0.95vw;
  font-family: 'Montserrat-Regular';
  color: #161514;
}
.form__button {
	position: relative;
	margin-bottom: 1.093vw;
}
.form__body__button {
  margin: 0px auto;
  float: none;
    display: block;
    width: 13.9vw; 
}
.form__button__warrow {
	width: 0.3645vw;
	height: 0.573vw;
	position: absolute;
	top: 1.21vw;
    right: 6.2vw;;
}
.button__description {
	text-align: center;
	font-family: 'Montserrat-Regular';
	font-size: 0.5vw;
	color: #989698;
}
.blink{
	text-align: left;
	display: block;
	margin: 0px auto;
	width: 11vw;
	color: #3262fe;
	border-bottom: 1px dashed #3262fe;
}
.question__list {
	margin-top: 5.67vw;
}
.qestion__item {
	position: relative;
	padding: 1.3vw !important;
	height: 11.98vw;
	width: 18.33vw;
	box-shadow: 0px 0px 3vw  rgba(0,0,0,0.07) !important;
}
.qestion__head {
	font-family: 'Montserrat-Bold';
}
.qestion__item__link {
	display: block;
	margin-top: 1vw;
	font-size: 0.625vw;
	font-family: 'Montserrat-Regular';
	color: #3262fe;
	cursor: pointer;
}
.link1 {
	margin-top: 2vw;
}
.question__img1 {
	position: absolute;
	width: 5.3vw;
	opacity: 0.3;
	height: 5.1vw;
	left: 4.687vw;
	top: 1.98vw;
}
.qestion__item__img {
	position: absolute;
	bottom: 1.27vw;
	right: 1.3vw;
}
.qestion__item__text {
	display: block;
	font-family: 'Montserrat-SemiBold';
	width: 9vw;
	height: 1.51vw;
	line-height: 1.51vw;
	font-size: 0.73vw;
}
.connecttext {
	margin-bottom: 1.35vw;
}
.work__item__connect{
	display: block;
	font-size: 0.625vw;
	font-family: 'Montserrat-Regular';
	color: #3262fe;
	margin-bottom: 0.47vw;
}
footer {
	margin-top: 4.173vw;
	background: #1b131d;
	height: 8vw;
}
footer nav {
	margin-left: 15.3vw;
	    margin-top: 0.5vw
}
footer li {
	    margin-left: 1.9vw !important;
}
.sclinl {
	height: 0.673vw;
	width: 1.25vw;
	background: url(../workimg/scw-min.png) no-repeat center;
	background-size: contain;
}
.instlink {
	height: 0.781vw;
	width: 1.25vw;
	background: url(../workimg/winst.png) no-repeat center;
	background-size: contain;
}
.vklink {
	height: 0.625vw;
	width: 1.25vw;
	background: url(../workimg/wvk.png) no-repeat center;
	background-size: contain;
}
 footer .menu {
	margin-bottom: 1.3vw;
}
.protect {
	text-align: center;
	font-family: 'Montserrat-Regular';
	font-size: 0.5vw;
	color: #535353;
}
.protect1{
	display: none;
}
.created {
	float: right;	
	font-family: 'Montserrat-Regular';
	font-size: 0.6vw;
	color: #535353;
	    margin-top: -0.9vw;
    margin-right: 0.5vw;
}
footer span {
	color: #fff;
	cursor: pointer;
}
.conf {
	float: left;
	border-bottom: 1px #535353 dashed;
	margin-left: 1.09vw;
}